html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #f47521;
    background: #000;
    font-weight: 400;
    font-family: Lato, Helvetica Neue, helvetica, sans-serif;
}
